<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container-fluid">
  <br>
    <div class="row">
        <div class="col-md" id="textbox1">
            <h1>Quienes Somos</h1>
            <p class="text-info" id="QS">
                Somos una Comunidad que nacio de la Quinta Región y alrededores, quienes 
                tenemos un gran amor a los Juegos de Rol. <br><br>
                Nuestro objetivo es jugar, promover, difundir, gestionar espacios (virtuales y presenciales), 
                generar comunidad, y fomentar la cultura de los juegos de rol, para que estos sean mas 
                conocidos y así poder lograr que mas personas se unan a esta gran comunidad. <br><br>
                Queremos brindar un espacio seguro para que todos puedan aportar y sentirse parte de la 
                comunidad, por eso tenemos un conjunto de normas de convivencia, para así velar para que 
                todos y todas se sientan a gusto. Si no tienes experiencia en los Juegos de Rol, 
                no te preocupes, todos contamos con la vocacion de ensenar y nos encanta tener mas personas 
                que quieran aprender.
            </p>
            <h3>UNETE</h3>
        </div>
        <div class="col-md" id="textbox2">
            <h3><strong class="text-danger">Normas</strong></h3>
            <ol>
                <li>Como eje principal de nuestra convivencia, debemos fomentar el <strong class="text-secondary">RESPETO</strong> entre todos 
                    los participantes de VROL, tanto en actividades presenciales como en sus plataformas, 
                    para compartir en un espacio seguro y agradable. 
                </li>
                <br>
                <li>
                    NO se tolerará el bullying en cualquiera de sus formas, y en ninguna de las plataformas 
                    que conforman VROL.
                </li>
                <br>
                <li>
                    NO aceptaremos ningún tipo de discriminación, ya sea por género, religión, nacionalidad, 
                    creencias, gustos, etc.
                </li>
                <br>
                <li>
                    Debemos respetar la privacidad de todos los integrantes de la comunidad.
                </li>
                <br>
                <li>
                    Es necesario que informen a los administradores si sufren o son testigos de alguna 
                    infracción a estas normas, para poder seguir el protocolo correspondiente
                </li>
            </ol>
        </div>
    </div>
</div>

<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>