<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/css/juegos.css}" />
<header th:replace="plantilla/template :: header"></header>

<div class="container-fluid">
  <div class="row">
			<div class="col-sm-9">
				<div class="contenedor-juegos">
					<div class="card"
					th:style="'background-image: url(\'' + @{/imgs/changelingPor.jpg} + '\');'">
						<div class="textos">
							<h3>Changeling: The Dreaming v20</h3>
							<p>S: Sistema Narrativo(d10)</p>
							<!-- <a class="btn btn-primary btn-sm" href="changeling"
								role="button">Conocer mas</a> -->
						</div>
					</div>
					<div class="card"
					th:style="'background-image: url(\'' + @{/imgs/dndpor.jpg} + '\');'">
						<div class="textos">
							<h3>Dungeons and Dragons</h3>
							<p>S: d20</p>
						<!-- 	<a class="btn btn-primary btn-sm" href="dnd" role="button">Conocer
								mas</a> -->
						</div>
					</div>
					<div class="card"
					th:style="'background-image: url(\'' + @{/imgs/phfRulebook.jpg} + '\');'">
						<div class="textos">
							<h3>Pathfinder</h3>
							<p>S: d20</p>
							<!-- <a class="btn btn-primary btn-sm" href="pathfinder.html"
								role="button">Conocer mas</a> -->
						</div>
					</div>

					<div class="card"
					th:style="'background-image: url(\'' + @{/imgs/VtM1.png} + '\');'">
						<div class="textos">
							<h3>Vampiro: La Mascarada</h3>
							<p>S: Sistema Narrativo(d10)</p>
							<!-- <a class="btn btn-primary btn-sm" href="vampire.html"
								role="button">Conocer mas</a> -->
						</div>
					</div>
					<div class="card"
					th:style="'background-image: url(\'' + @{/imgs/magepor.png} + '\');'">
						<div class="textos">
							<h3>Mage: The Ascension</h3>
							<p>S: Sistema Narrativo(d10)</p>
						<!-- 	<a class="btn btn-primary btn-sm" href="mage.html" role="button">Conocer
								mas</a> -->
						</div>
					</div>
					<div class="card"
						th:style="'background-image: url(\'' + @{/imgs/CocPortada.jpg} + '\');'">
						<div class="textos">
							<h3>Call of Cthulhu</h3>
							<p>S: BRP</p>
						<!-- 	<a class="btn btn-primary btn-sm" href="coc.html" role="button">Conocer
								mas</a> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="banner" style="background-color: black;">
					<h3>Mesas On-Line y Presenciales</h3>
					<ul>
						<li>La Mina Perdida de Phandelver</li>
						<li>The Screaming Nights</li>
						<li>Aventura Antartica</li>
						<li>Mahou Shoujo: Miraculous Adv</li>
						<li>PokeRole</li>
						<li>Mouse Guard: Aventuras ratoniles</li>
					</ul>
					<button class="boton" onclick="averigua();">Conoce mas</button>
				</div>
			</div>
		</div>
  
</div>
<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>