<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container d-flex">
<br><br>
	<div th:each="mesa:${mesas}" class="container-fluid">
	<br>
		<div class="card border-info mb-2" style="max-width: 22rem; height: 25rem;">
		  <div class="card-header" th:text="${mesa.juego}"></div>
		  <div class="card-body">
		    <h4 class="card-title" th:text="${mesa.nombreMesa}"></h4>
		    <table>
					<tr>
						<th class="text-warning">Narrador: </th>
						<td class="text-info" th:text="${mesa.narrador}"></td>
					</tr>
					<tr>
						<th class="text-warning">Cupos:</th>
						<td class="text-info" th:text="${mesa.cupos}"></td>
					</tr>
					<tr>
						<th class="text-warning">Formato:</th>
						<td class="text-info" th:text="${mesa.formato}"></td>
					</tr>
					<tr>
						<th class="text-warning">Fecha:</th>
						<td class="text-info" th:text="${mesa.dia}"></td>
					</tr>
					<tr>
						<th class="text-warning"style="vertical-align: top;">Descripción:&nbsp;  </th>
						<td class="text-info" th:text="${mesa.desCorta}"style="vertical-align: top;"></td>
					</tr>
					<tr>
						<th class="text-warning" style="vertical-align: top;">TAGS: </th>
						<td class="text-info" th:text="${mesa.tags}"></td>
					</tr>
				</table>
		  </div>
		  		<div class="card-footer bg-dark text-center" id="botbtn">
					<a class="btn btn-outline-info btn-sm" th:href="@{/mesas/ver/}+${mesa.idMesa}" > Ver Mas</a>
				</div>
		</div>
	</div>
</div>
  <br><br>

<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>