<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<br>
	<form th:action="@{/views/jugadores/editado}"
		th:object="${jugador}" method="post">
		<fieldset>
			<div class="card border-info mb-3" id="formIns">
				<div class="card-header bg-dark text-center">
					<strong th:text="${titulo}"></strong>
				</div>
				<div class="card-body">
					<div class="container text-center">
						<div class="row">
							<input type="hidden" th:field="*{idInscrito}">
							<div class="col text-center">
								<div class="form-group row mb-3">
									<label for="nombreJugador" class="form-label mt-2">Nombre
										del Jugador:</label> <input type="text" th:field="*{nombreJugador}"
										class="form-control form-control-sm col-md-6"
										id="nombreJugador" placeholder="Escriba nombre del Jugador">
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('nombreJugador')}"
										th:errors="*{nombreJugador}"> </small>
									<div class="invalid-feedback">No puede estar vacio</div>
								</div>
							</div>

							<div class="col text-center">
								<div class="form-group row mb-3">
									<label for="email" class="form-label mt-2">E-mail:</label> <input
										type="email" th:field="*{email}"
										class="form-control form-control-sm col-md-6" id="email"
										placeholder="Escriba correo valido"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
									</small>
									<div class="invalid-feedback">No puede estar vacio</div>
								</div>
							</div>

						</div>
						<div class="row">

							<div class="col text-center">
								<div class="form-group row mb-3">
									<label for="telefono" class="form-label mt-2">Telefono:</label>
									<input type="text" th:field="*{telefono}"
										class="form-control form-control-sm col-md-6" id="telefono"
										placeholder="Escriba telefono de contacto"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('telefono')}"
										th:errors="*{telefono}"> </small>
									<div class="invalid-feedback">No puede estar vacio</div>
								</div>
							</div>

							<div class="col text-center">
								<div class="form-group row mb-3">
									<input type="hidden" th:field="*{mesa}">
									<label class="form-label mt-2" >Inscrito a la Mesa:</label>
									<label class="form-label mt-2 text-info" th:text="*{mesa.NombreMesa}">Nombre de la Mesa:</label>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col text-center">
								<div class="card-footer bg-dark" id="botbtn">
									<a class="btn btn-outline-success btn-sm" th:href=@{/mesas/}
										th:text="Volver"></a>&nbsp; <input type="submit"
										class="btn btn-outline-info btn-sm" value="Editar" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</fieldset>
	</form>

	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>