<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<th:block th:if="${session.perfil == null}">
      <!-- Redirect to the root URL -->
      <script th:inline="javascript">
        window.location.href = '/';
      </script>
    </th:block>
	<br>
	<div class="container">
		<h1 class="text-center" th:text="${titulo}"></h1>
	</div>
	<div class="d-flex ml-auto" id="botoneslista">
	    <a class="btn btn-primary btn-sm" th:href="@{/views/jugadores/}" type="button">Default</a>&nbsp;
	    <a class="btn btn-secondary btn-sm" th:href="@{/views/jugadores/ordAsc}" type="button">Ord Asc</a>&nbsp;
	    <a class="btn btn-secondary btn-sm" th:href="@{/views/jugadores/ordDes}" type="button">Ord Des</a>&nbsp;
	   	<div th:each="mesa:${mesas}">
	   		<a class="btn btn-secondary btn-sm" th:href="@{/views/jugadores/bymesa?idMesa=}+${mesa.idMesa}" type="button"
	   		th:text="'OrderBy Mesa ' + ${mesa.idMesa}" title="'Ordenar por mesa ' + ${mesa.idMesa}" ></a>&nbsp;
	   	</div>
	   	<div th:each="mesa:${mesas}">
	   		<a class="btn btn-secondary btn-sm" th:href="@{/views/jugadores/group?idMesa=}+${mesa.idMesa}" type="button"
	   		th:text="'Contar Mesa: ' + ${mesa.idMesa}" title="'Contar Jugadores en mesa N°: ' + ${mesa.idMesa}" ></a>&nbsp;
	   	</div>
		        
	    <a class="exportbtn ml-auto" th:href="@{/views/jugadores/(format=pdf)}" title="Exportar a PDF" target="_blank">
	        <img class="img-responsive center-box" th:src="@{/imgs/pdficon.png}" height="auto">
	    </a>   
	    
	</div>
	<div class="container">
		<table class="table table-hover">
		  <thead>
			    <tr>
			      <th scope="col">Mesa:</th>
			      <th scope="col">Cant. Jugadores:</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="mesa:${mesas}" th:if="${mesa.idMesa} == ${idMesa}" class="table-dark">
			      <th scope="row" th:text="${mesa.nombreMesa}"></th>
			      <td th:text="${contar}"></td>	   
			    </tr>
			  </tbody>
		</table>
	</div>



<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>