*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh !important;
    /* max-width: 1400px; */
}
nav{
	padding: 0;
}

#formulario-adm{
	padding: 0;
	margin:0;
}
#formulario-vis{
	padding: 0;
	margin:0;
}
#formulario-dm{
	padding: 0;
	margin:0;
}

.bg-body-tertiary {
	opacity: 1;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(64, 0, 128) !important;
}
nav:navbar-brand{
	color: white;
}
.navbar-brand,.nav-link{
	color: lightgrey;
}

.me-2{
	height: 40px;
    width: 150px;
    margin-top: 9px;

}
.me-2::placeholder{
	color: lightgrey;
}

#texlogin{
	margin-top: 16px !important;
	margin-right: 6px;
}
#btnlogout{
	margin-top: 9px;
    border-radius: 50px;
    height: 35px;
    color: darkorange;
}
#btnlogout:hover{
	color: yellow;
	
}

.btn-outline-light{
	height: 40px;
    width: 90px;
    margin-top: 9px;
    padding-bottom: 2px;
    border-radius: 50px;
  	color: cyan;
  	font-weight: 700;
}

.loginSector{
	width: 100%;
}

.navbar-form input,
.navbar-form button {
    width: 100%; /* el ancho del campo de entrada y botón es igual al ancho del formulario */
}

.navbar,
.dropdown {
  z-index: 9999;
  opacity: 1;
}


#popupbadlogin{
	width: 300px;
	position: fixed;
	right: 0;
}

#textbox1{
	text-align: justify;
}
#textbox2{
	text-align: justify;
}

.about{
	text-align: justify;
}


#calendar{
    width: 100%;
}
iframe{
    width: 100%;
    height: 500px;
}

.caltex{
    color: darkgrey;
}

#Banners{
    margin-top: 2rem;
    width: 98%;
}

#Banners img{
    width: 100%;
    height: 500px;
}
#firma{
    color: darkgray;
    opacity: 1;
}

#footersp{
  	width: 100%;
  	max-height: 60px;
  	padding: 0 !important;
  	margin: 0 !important;
  	    color: lightgrey;
  
}

#homl{
	color: lightgrey;
	font-weight: 700;
    
}






