@charset "UTF-8";

#formulario-vis{
	padding: 0;
    margin: 0;
    position: fixed;
    opacity: 1;
    z-index: 99999;
}

#footersp{
  	width: 100%;
  	max-height: 60px;
  	padding: 0 !important;
  	margin: 0 !important;
  	color: lightgrey;
  	position: fixed;
  	bottom: 0;
  
}

@media screen and (max-width: 567px) {

}

@media screen and (max-width: 475px){
  #formulario-vis{
	padding: 0;
    margin: 0;
    position: fixed;
    opacity: 1;
    z-index: 99999;
	}
	#navs{
		opacity: 1;
	    z-index: 99999;
	    background-color: rgb(64, 0, 128) !important;
	}
}