<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
	<div class="container">
		<h1 class="text-center" th:text="${titulo}"></h1>
	</div>
	<div class="container">
		<table class="table table-hover">
		  <thead>
			    <tr>
			      <th scope="col">Id Jugador:</th>
			      <th scope="col">Jugador:</th>
			      <th scope="col">E-mail:</th>
			      <th scope="col">Telefono:</th>
			      <th scope="col">En la Mesa:</th>
			      <th scope="col">Juego:</th>
			      <th scope="col">Narrador:</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="pj:${inscritos}" class="table-info">
			      <th scope="row" th:text="${pj.idInscrito}"></th>
			      <td th:text="${pj.nombreJugador}"></td>
			      <td th:text="${pj.email}"></td>
			      <td th:text="${pj.telefono}"></td>
			      <td th:text="${pj.mesa.nombreMesa}"></td>
			      <td th:text="${pj.mesa.juego}"></td>
			      <td th:text="${pj.mesa.narrador}"></td>
			    </tr>
			  </tbody>
		</table>
	</div>



<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>